.Rproj.user
.Rhistory
.RData
.Ruserdata
/cmdstan
.Rproj
.DS_Store
models/Modelo_Gamma_Outliers_threads
models/Modelo_Gamma_Outliers_Edad_threads
*.Rproj
/datasets
/fitted_plots
/results
/logs
models/Modelo_Gamma_Outliers_Edad_sin_Sexo_threads
log.out
/pdf
Formato_v1.pdf
Formato_pag1.pdf
Formato_pag2.pdf
log_pdf.out
/guias_excel
/ppt
*.aux
log_pdf.out
models/Modelo_sin_outliers_Log_edad_sin_sexo_threads
models/Modelo_Gamma_sin_Outliers_Log_Edad_threads
models/Modelo_Gamma_threads
models/Modelo_Gamma_Outliers_Log_Edad_sin_Sexo_threads
models/Modelo_Gamma_Log_Edad_GP_threads
models/Modelo_sin_edad_threads